{% extends 'base.html.twig' %}

{% block title %}Dashboard!
{% endblock %}

{% block body %}
	<body id="app-container" class="menu-default show-spinner">
		{% include "includes/body_dash.html.twig" %}
		<main>
     
			<h1>Register</h1>

			{{ form_start(registrationForm) }}
            
			
				<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.email) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.plainPassword, {
                    label: 'Password' }) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.nom) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.cin) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.tel) }}
				</label>
					<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.departement) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.image) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(registrationForm.agreeTerms) }}
				</label>
				<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary btn-lg btn-shadow" type="submit">REGISTER</button>
				</div>
			
			{{ form_end(registrationForm) }}
         
		</main>
		{% include "includes/footer.html.twig" %}
	</body>
{% endblock %}
