



{% extends 'base.html.twig' %}

{% block title %}Produit!
{% endblock %}

{% block body %}
	<body id="app-container" class="menu-default show-spinner">
		{% include "includes/body_dash.html.twig" %}
		<main>
     {%  if editMode %}
			<h1>Modifier Produit</h1>
{% else %}
<h1> Ajouter Produit </h1>
{% endif %}
			{{ form_start(formProduit) }}
            
			
				<label class="form-group has-float-label mb-4">
					{{form_row(formProduit.title)}}
				</label>
				
				<label class="form-group has-float-label mb-4">
					{{form_row(formProduit.description)}}
				</label>
				<label class="form-group has-float-label mb-4">
					{{form_row(formProduit.quantity)}}
				</label>
				<label class="form-group has-float-label mb-4">
					{{form_row(formProduit.image)}}
				</label>
				<label class="form-group has-float-label mb-4">
					{{form_row(formProduit.categorie)}}
				</label>
				
				
			
					 {% if editMode %}
				<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary btn-lg btn-shadow" type="submit">Enregistrer</button>
				</div>
			{% else %}
			<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary btn-lg btn-shadow" type="submit">AJOUTER</button>
				</div>
			{% endif %}
			
			{{ form_end(formProduit) }}
         
		</main>
		{% include "includes/footer.html.twig" %}
	</body>
{% endblock %}
