{% extends 'base.html.twig' %}

{% block title %}List des depatement!{% endblock %}

{% block body %}
<body id="app-container" class="menu-default show-spinner">
   {% include "includes/body_dash.html.twig" %}
     <main>
        <div class="container-fluid disable-text-selection">
            <div class="row">

                <div class="col-12">
                    <div class="mb-2">
                        <h1>List des depatement</h1>
                        <div class="top-right-button-container">
                        <a href="{{path('departement_create')}}">
                            <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">AJOUTER NOUVEAU</button>
                        </a>
                    
                        </div>
                        
                    </div>

                    <div class="mb-2">
                        <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                            role="button" aria-expanded="true" aria-controls="displayOptions">
                            Display Options
                            <i class="simple-icon-arrow-down align-middle"></i>
                        </a>
                        <div class="collapse dont-collapse-sm" id="displayOptions">
                           
                            <div class="d-block d-md-inline-block">
                               
                                <div class="search-sm  d-inline-block float-md-left mr-1 mb-1 align-top">
                                    <input class="form-control datepicker" placeholder="Rechercher par nom">
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>
<!-- header_list -->
					<div class="row">
						<div class="col-12 list" >
							<div class="card d-flex flex-row mb-3">
								<div class="d-flex flex-grow-1 min-width-zero">
									<div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">

										<a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="">
											titre
										</a>

										<!-- Action -->
										<div class="w-15 w-xs-100">
											<a href="">
												
											</a>
										</div>

										<div class="w-15 w-xs-100">
											<a href="">
											Action
											</a>
										</div>
										
										<div class="w-15 w-xs-100">
											<a href="">
												
											</a>
										</div>
										<!--end  Action -->


									</div>

								</div>
							</div>
					<!-- end header_list-->
				{% for departement in departement %}
					<div class="row">
						<div class="col-12 list">
							<div class="separator mb-5">
								<div class="d-flex flex-grow-1 min-width-zero">
									<div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">

										<a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="">
											{{departement.title}}
										</a>


										<!-- Action -->
										<div class="w-15 w-xs-100">
											<a href="{{url('departement_show',{id:departement.id})}}">
												<span class="badge badge-pill badge-secondary">Voir</span>
											</a>
										</div>

										<div class="w-15 w-xs-100">
											<a href="{{url('departement_edit',{id:departement.id})}}">
												<span class="badge badge-pill badge-secondary">Modifier</span>
											</a>
										</div>
										
										<div class="w-15 w-xs-100">
											<a href="{{url('departement_delete',{id:departement.id})}}">
												<span class="badge badge-pill badge-secondary">Supprimer</span>
											</a>
										</div>
										<!--end  Action -->


									</div>

								</div>
							</div>
						{% endfor %}
						
						<!-- end list -->
	                <nav class="mt-4 mb-3">
                        <ul class="pagination justify-content-center mb-0">
                           {{knp_pagination_render(departement)}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

{% include "includes/footer.html.twig" %}


</body>

{% endblock %}
