
{% extends 'base.html.twig' %}

{% block title %}Client!
{% endblock %}

{% block body %}

	<body id="app-container" class="menu-default show-spinner">
		{% include "includes/body_dash.html.twig" %}
		<main>
     
			   {% if editMode %}
	        <h1> Modifier Client</h1>
	         {% else %}
		 	<h1> ajouter Client</h1>
             {% endif %}

			{{ form_start(formClient) }}
            
			
				<label class="form-group has-float-label mb-4">
					{{ form_row(formClient.nom) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(formClient.prenom) }}
				</label>
				<label class="form-group has-float-label mb-4">
					{{ form_row(formClient.tel) }}
				</label>
			
					 {% if editMode %}
				<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary btn-lg btn-shadow" type="submit">Enregistrer</button>
				</div>
			{% else %}
			<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary btn-lg btn-shadow" type="submit">AJOUTER</button>
				</div>
			{% endif %}
			
			{{ form_end(formClient) }}
         
		</main>
		{% include "includes/footer.html.twig" %}
	</body>
{% endblock %}
