{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
<body id="app-container" class="menu-default show-spinner">
{% include "includes/body_dash.html.twig" %}
<div class="space50"></div>
 <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                     
                        <div class="text-zero top-right-button-container">
                            <a href="{{url('client_edit',{id:client.id})}}" class="btn btn-lg btn-outline-primary ">
                                Modifier
                            </a>
                          
                        </div>
                    <div class="mb-2">
                        <h1>{{client.nom}}{{client.prenom}}</h1>
                      
                    </div>
                    
                       <div class="mb-2">
                       
                        <a href="img/profiles/1.jpg" class="lightbox">
                                        <img alt="{{client.nom}}" src=""
                                            class="img-thumbnail card-img social-profile-img">
                                    </a>
                      
                    </div>
                    </div>
                     
                  
                    </div>
                  

                    <div class="separator mb-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-4">
                                <a href="#">
                                    <p class="list-item-heading mb-1 color-theme-1">Coordonnées</p>
                                    <p class="mb-1 text-muted text-small">Mobile</p>
                                    <p class="mb-4 text-small">{{client.tel}}</p>
                                    <p class="mb-1 text-muted text-small">Email</p>
                                    <p class="mb-4 text-small">{{client.email}}</p>
                                </a>
                                <div class="separator"></div>
                            </div>
                            <div class="mb-4">
                                <a href="#">
                                    <p class="list-item-heading mb-1 color-theme-1">Info génerales</p>
                                    <p class="mb-1 text-muted text-small">Nom complete</p>
                                    <p class="mb-4 text-small">{{client.nom}}{{client.prenom}}</p>
                                </a>
                                <div class="separator"></div>
                            </div>

                            <div class="mb-4">
                                <a href="#">
                                    <p class="list-item-heading mb-1 color-theme-1">Situation amoureuse</p>
                                    <p class="mb-1 text-muted text-small">Sexe</p>
                                    <p class="mb-4 text-small">{{client.sexe}}</p>
                                </a>
                                <div class="separator"></div>
                            </div>
                         
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% include "includes/footer.html.twig" %}
</body>
{% endblock %}
